body {
    margin: 2em;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0.25em;
    background-color: tomato;
}

button {
    background-color: #444;
    color: #fff;
    border-radius: 0.3em;
    padding: .25em;
    font-size: 150%;
}